.footer
{
    background: $secondary;
    color:white;
    font-weight: bold;
    font-size: 10px;

    display: flex;
    width: 100%;

    a{
        font-size: 10px;
       
        i{
            color: white!important;
            font-size: 20px;
        }
        padding: 0 10px;
        display: inline-block;
    }

    

    @media( min-width: $mobile-max-breakpoint){
        padding-right: 0;
    }

    @media( max-width: $mobile-max-breakpoint){
        padding-left: 0;
        padding-right: 0;
        flex-direction: column;
    }
     

    .plyn_info{

        width: 24.3%;
        background: $secondary;
        p{
            
            color:white;
            text-align: center;
            font-size: 15px;
            line-height: 20px;
            font-weight: bold;
            // width: 24.3%;
            
        }

        @media( min-width: $mobile-max-breakpoint)
        {
            
            padding: 37px 0 39px ;
        }
        @media( max-width: $mobile-max-breakpoint){

            width: 100%;
            padding: 16px 0 15px; 
        }
        
    }

    // the siga plyn
    .footer-content
    {
        
        display: flex;
        padding: 34px 0 37px;
        background: $primary;
        flex-grow:1;

        p{
            font-size: 11px;
            font-weight: bold;
            line-height: 20px;
        }
        
        @media( max-width: $mobile-max-breakpoint){
           
           width: 100%;
           justify-content: center;

        }
    }
   
}

