
.app-bar-container{

    background: $primary;

    .app-bar
    { 

        background: $primary;
        
         @media( max-width: $mobile-max-breakpoint){
            padding-right: 0rem;
            padding-left: 0rem;    
         }


         // the last icon in right
        .app-bar__figure{
            background-color: $primary;    
            padding: 0 27px;
    
        }

        .app-bar-left-content{
            width: 87%;
            background: $secondary; 
            @media( max-width: 640px){
                width: 100%;
            } 
        }
        .app-bar__image_container{
            
            @media( max-width: $mobile-max-breakpoint){
                text-align: center;
            }

            // the left image
            .app-bar__image_header{
               
                @media( max-width: $mobile-max-breakpoint)
                {
                    padding-left:  0;
                }
                padding-left:  39px;

                margin-top:32px;
                margin-bottom: 33px;
                background: $secondary;
    
                   img{
                        height: 88px;                
                   }
            }
        }
        

        // where stays "informativo"
        .app-bar__info{


            display: flex;
            align-items: center;
            justify-content: flex-end;
            text-align: end;


            background: $secondary;
            color:white;


            padding-right: 32px;
            padding-bottom: 16px;
            padding-top: 14px;

            @media( max-width: $mobile-max-breakpoint){

                padding-right: 0;
            }

            .app-bar__container{
                width: 100%;
                
                .app-bar__info__title{
                    font-size: 30px;
                    line-height: 30px;
                    margin-bottom: 12px;
                }
                .app-bar__info__sub-title{
                    font-size: 11px;
                    line-height: 11px;
                    letter-spacing: 80%;
                    font-weight: bold;
                }
            }
            
           




            @media( max-width: $mobile-max-breakpoint){

                background: $primary;
                color:white;
                text-align: center;
                padding-right: 0;
            }

        }
    }
}